# Arquivos de ambiente e dados sensíveis
# Ignorar dados brutos e intermediários
informacao/informacao/dados/bruto/
informacao/informacao/dados/intermediario/
informacao/informacao/dados/processado/

# Ignorar modelos treinados e arquivos salvos
informacao/informacao/modelos/modelos_salvos/
informacao/informacao/modelos/resultados_modelos/

# Ignorar logs e arquivos temporários
*.log
*.pkl
*.tmp
*.zip
*.tar.gz

# Ignorar arquivos de ambiente
.venv/
.env/
informacao/ambiente/ambiente.yml

# Ignorar notebooks checkpoints
.ipynb_checkpoints/

# Ignorar arquivos do sistema
.DS_Store
.Trash/

# Ignorar diretórios específicos
Library/
Pictures/
.config/
.gradle/
.jenkins/

# Ignorar extensões ou arquivos específicos
*.photoslibrary
*.log